<article class="media">
  <figure class="media-left">
    <p class="image is-64x64 avatar">
      <%= image_tag current_user.avatar %>
    </p>
  </figure>
  <div class="media-content">
    <%= simple_form_for([@tweeet, @comment]) do |f| %>
      <div class="field">
        <div class="control">
          <%= f.input :comment, input_html: { class: 'textarea' }, wrapper: false, placeholder: 'Add a comment'  %>
        </div>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <%= f.button :submit, 'Leave a reply', class: "button is-primary" %>
          </div>
        </div>
      </nav>
    </div>
  <% end %>
</article>
