<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Profile</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <% if current_user.avatar.attached? %>
            <figure class="image is-64x64 avatar">
              <%= image_tag current_user.avatar %>
            </figure>
          <% else %>
            <figure class="image is-64x64 avatar">
              <img class="is-rounded" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"></figure>

            <% end %>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= current_user.name %></strong><br/>
                <small>@<%= current_user.username %></small>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="panel-block">
        <div class="level is-mobile">
          <div class="level-item has-centered-text">
            <div>
              <p class="heading">Tweeets</p>
              <p class="title is-6"><%= current_user.tweeets.count %></p>
            </div>
          </div>
          <div class="level-item has-centered-text">
            <div>
              <p class="heading">Following</p>
              <p class="title is-6">123</p>
            </div>
          </div>
          <div class="level-item has-centered-text">
            <div>
              <p class="heading">Followers</p>
              <p class="title is-6">465K</p>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
