<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png"></figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Garbi Aranguren</strong>
                <small>@garbadromance</small>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="panel-block">
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <img src="https://bulma.io/images/placeholders/64x64.png"></figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Jaime Capilla</strong>
                  <small>@lacapilla</small>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="panel-block">
          <article class="media">
            <div class="media-left">
              <figure class="image is-32x32">
                <img src="https://bulma.io/images/placeholders/64x64.png"></figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Breach Stockton</strong>
                    <small>@onlyflashes</small>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </nav>
      </div>
